@import url('https://fonts.googleapis.com/css2?family=Baloo+Tamma+2:wght@800&display=swap');
*{
  font-family: 'Baloo Tamma 2', cursive;
}
.navbar{
  display: flex;
  display: flex;
  flex-wrap: wrap;
  align-content: center;
  justify-content: space-around;
  align-items: center;
  background-color: #f0f8ff;
}
.menu{
  width: 100%;
  height: 300px;
  background-color: #3a6ac3;
  position: absolute;
  z-index: 5000;
  display: flex;
  flex-direction: column;
  align-content: center;
  align-items: flex-start;
  justify-content: center;
  padding: 20px;
  font-size: 20px;
  top: -5000px;
}

  

.tabs{
  display: flex;
  gap: 10px;

}
body{
  background: #f0f8ff;
}
*{
  font-family: 'Open Sans',sans-serif;
  overflow-x: hidden;
  overflow-wrap: break-word;
}
a{
  text-decoration: none;
  text-transform: capitalize;
  color: black;
  font-size: 120%;
}
.home{
  background: url('https://images03.nicepagecdn.com/c461c07a441a5d220e8feb1a/e96a86713cfa5e13801cddb3/-min.jpg');
  background-size: cover;
  background-clip: border-box;
  background-position: center;
  height: 650px;
}
.home .texthome{
  display: flex;
  flex-direction: column;
  align-content: flex-start;
  align-items: flex-start;
  justify-content: center;
  padding: 10% 15%;
}
.home .texthome h2{
  text-transform: uppercase;
  font-weight: 300;
  letter-spacing: 4px;
  font-size: 1.25rem;
  margin: 0;
}
.home .texthome h1{
  text-transform: uppercase;
  font-weight: 900;
  letter-spacing: 3px;
  font-size:3.025rem;
  margin: 50px 0px;
  width: 600px;
  color: #3a6ac3;
}
.home .texthome h1 span{
  font-size:1.25rem;
}
.navbar img{
  display: block;
}
.btn{
  width: 120px;
  border-radius: 200px;
  background: #3a6ac3;
  text-align: center;
  height: 50px;
  border: none;
  text-transform: uppercase;
  font-weight: 700;
  color: #f0f8ff;
}
.btn:hover{
  width: 120px;
  border-radius: 200px;
  background: #f0f8ff;

  height: 50px;
  border: 2px solid #3a6ac3;
  text-transform: uppercase;
  font-weight: 700;
  color: #3a6ac3;
  transition: 150ms cubic-bezier(0.68, -0.55, 0.265, 1.55) all;
}
@media screen and (max-width: 700px) {
  .home .texthome{
    display: flex;
    align-content: flex-start;
    align-items: flex-start;
    justify-content: flex-start;
    padding: 10% 15%;
    flex-direction: column;
    flex-wrap: wrap;
    width: fit-content;
  }
  .tabs{
    display: none;
    gap: 10px;
  
  }
  .home .texthome h1{
    text-transform: uppercase;
    font-weight: 900;
    letter-spacing: 3px;
    font-size:3.025rem;
    margin: 50px 0px;
    width: 300px;
    color: #3a6ac3;
  }
  .home .texthome h1 span{
    font-size:0.55rem;
  }
  .home{
        background-position: 67.93% 50%;
        height: auto;
  }

  .navbar{
    display: flex;
    flex-wrap: wrap;
    align-content: center;
    justify-content: space-around;
    align-items: center;
    background-color: #f0f8ff;
    flex-direction: row;
  }
  .greecebox1{
    max-width: 90% !important;
    text-align: center;
    color: #f0f8ff !important;
  }
  .center{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    align-content: center;
  }
  .navbar button{
    display: block !important;
  }
}
.gallerybox {
  margin: 20px;
  width: 300px;
  height: 350px;
  overflow: hidden;
  position: relative;
  border-radius: 5px;
}
.gallerybox img {
  /* mix-blend-mode: hard-light; */
  width: 300px;
  height: 350px;
  object-fit:cover;
  z-index: 1;
}
.h1 span {
  text-align: center;
  margin: 0px 5px;
  padding: 0px 5px;
  background: #ec9806;
  border-radius: 5.2px;
  color: #191919;
}
body{
  overflow-x: hidden;
}
.arch_contact_us_duplicate * {
  font-family: Nunito, sans-serif;
}

.arch_contact_us_duplicate .icon-block svg {
  width: 100%;
  height: 100%;
}

.arch_contact_us_duplicate .icon-block {
  width: 30px;
  height: 30px;
}

.arch_contact_us_duplicate .text-blk {
  margin-top: 0px;
  margin-right: 0px;
  margin-bottom: 0px;
  margin-left: 0px;
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
  line-height: 25px;
}

.arch_contact_us_duplicate .responsive-container-block {
  min-height: 75px;
  height: fit-content;
  width: 100%;
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
  display: flex;
  flex-wrap: wrap;
  margin-top: 0px;
  margin-right: auto;
  margin-bottom: 0px;
  margin-left: auto;
  justify-content: flex-start;
}

.arch_contact_us_duplicate .responsive-cell-block {
  min-height: 75px;
}

.arch_contact_us_duplicate .responsive-container-block.big-container {
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  padding-top: 0px;
  padding-right: 50px;
  padding-bottom: 0px;
  padding-left: 50px;
  background-color: #3a6ac33c;
}

.arch_contact_us_duplicate .responsive-container-block.container {
  max-width: 1100px;
  justify-content: space-evenly;
}

.arch_contact_us_duplicate .text-blk.section-head {
  font-size: 60px;
  line-height: 65px;
  margin-top: 0px;
  margin-right: 0px;
  margin-bottom: 24px;
  margin-left: 0px;
}

.arch_contact_us_duplicate .text-blk.section-subhead {
  font-size: 14px;
  line-height: 18px;
  color: #7e7e7e;
}

.arch_contact_us_duplicate .input {
  width: 100%;
  margin-top: 0px;
  margin-right: 0px;
  margin-bottom: 15px;
  margin-left: 0px;
  height: 54px;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
  border-bottom-left-radius: 5px;
  border-top-width: 2px;
  border-right-width: 2px;
  border-bottom-width: 2px;
  border-left-width: 2px;
  border-top-style: none;
  border-right-style: none;
  border-bottom-style: none;
  border-left-style: none;
  border-top-color: #767676;
  border-right-color: #767676;
  border-bottom-color: #767676;
  border-left-color: #767676;
  border-image-source: initial;
  border-image-slice: initial;
  border-image-width: initial;
  border-image-outset: initial;
  border-image-repeat: initial;
  padding-top: 1px;
  padding-right: 16px;
  padding-bottom: 1px;
  padding-left: 16px;
  font-size: 16px;
}

.arch_contact_us_duplicate .textinput {
  width: 100%;
  height: 125px;
  margin-top: 0px;
  margin-right: 0px;
  margin-bottom: 27px;
  margin-left: 0px;
  border-top-width: 1px;
  border-right-width: 1px;
  border-bottom-width: 1px;
  border-left-width: 1px;
  border-top-style: none;
  border-right-style: none;
  border-bottom-style: none;
  border-left-style: none;
  border-top-color: #767676;
  border-right-color: #767676;
  border-bottom-color: #767676;
  border-left-color: #767676;
  border-image-source: initial;
  border-image-slice: initial;
  border-image-width: initial;
  border-image-outset: initial;
  border-image-repeat: initial;
  font-size: 16px;
  padding-top: 16px;
  padding-right: 16px;
  padding-bottom: 16px;
  padding-left: 16px;
}

.arch_contact_us_duplicate .button {
  height: 50px;
  min-width: 240px;
  font-size: 16px;
  color: white;
  border-top-width: 2px;
  border-right-width: 2px;
  border-bottom-width: 2px;
  border-left-width: 2px;
  border-top-style: none;
  border-right-style: none;
  border-bottom-style: none;
  border-left-style: none;
  border-top-color: #767676;
  border-right-color: #767676;
  border-bottom-color: #767676;
  border-left-color: #767676;
  border-image-source: initial;
  border-image-slice: initial;
  border-image-width: initial;
  border-image-outset: initial;
  border-image-repeat: initial;
  margin-top: 0px;
  margin-right: 0px;
  margin-bottom: 60px;
  margin-left: 0px;
  background-color: #3a6ac3db;
}

.arch_contact_us_duplicate .form-wrapper {
  border-bottom-width: 4px;
  border-bottom-style: solid;
  border-bottom-color: #b1c0da;
  margin-top: 0px;
  margin-right: 0px;
  margin-bottom: 60px;
  margin-left: 0px;
}

.arch_contact_us_duplicate .social-media-icon-container {
  display: flex;
  max-width: 400px;
  justify-content: space-evenly;
}

.arch_contact_us_duplicate .input-element {
  background-color: #b1c0da;
}

.arch_contact_us_duplicate .icon-block.social-icon {
  fill: #b1c0da;
}

@media (max-width: 1024px) {
  .arch_contact_us_duplicate .text-blk.section-head {
    font-size: 55px;
    line-height: 60px;
  }

  .arch_contact_us_duplicate .responsive-container-block.container {
    justify-content: space-between;
  }
}

@media (max-width: 768px) {
  .arch_contact_us_duplicate .responsive-cell-block.wk-tab-12.wk-mobile-12.wk-ipadp-6.wk-desk-5 {
    margin-top: 0px;
    margin-right: 0px;
    margin-bottom: 80px;
    margin-left: 0px;
  }

  .arch_contact_us_duplicate .responsive-cell-block.wk-mobile-12.wk-ipadp-6.wk-desk-5.wk-tab-10 {
    margin-top: 0px;
    margin-right: 0px;
    margin-bottom: 80px;
    margin-left: 0px;
    text-align: center;
  }

  .arch_contact_us_duplicate .input {
    height: 45px;
  }

  .arch_contact_us_duplicate .responsive-container-block.container {
    justify-content: space-evenly;
    margin-top: 80px;
    margin-right: 0px;
    margin-bottom: 80px;
    margin-left: 0px;
  }

  .arch_contact_us_duplicate .responsive-cell-block.wk-mobile-12.wk-desk-5.wk-tab-10.wk-ipadp-5 {
    margin-top: 0px;
    margin-right: 0px;
    margin-bottom: 80px;
    margin-left: 0px;
  }
}

@media (max-width: 500px) {
  .arch_contact_us_duplicate .text-blk.section-head {
    font-size: 40px;
    line-height: 45px;
  }

  .arch_contact_us_duplicate .responsive-container-block.big-container {
    padding-top: 0px;
    padding-right: 20px;
    padding-bottom: 0px;
    padding-left: 20px;
  }

  .arch_contact_us_duplicate .input {
    height: 40px;
  }

  .arch_contact_us_duplicate .responsive-cell-block.wk-tab-12.wk-mobile-12.wk-ipadp-6.wk-desk-5 {
    margin-top: 0px;
    margin-right: 0px;
    margin-bottom: 80px;
    margin-left: 0px;
  }

  .arch_contact_us_duplicate .responsive-cell-block.wk-mobile-12.wk-ipadp-6.wk-desk-5.wk-tab-10 {
    text-align: left;
    padding-top: 0px;
    padding-right: 20px;
    padding-bottom: 0px;
    padding-left: 20px;
  }

  .arch_contact_us_duplicate .responsive-container-block.big-container {
    padding-top: 0px;
    padding-right: 30px;
    padding-bottom: 0px;
    padding-left: 30px;
  }

  .arch_contact_us_duplicate .responsive-cell-block.wk-mobile-12.wk-desk-5.wk-tab-10.wk-ipadp-5 {
    padding-top: 0px;
    padding-right: 20px;
    padding-bottom: 0px;
    padding-left: 20px;
  }

  .arch_contact_us_duplicate .button {
    width: 100%;
  }

  .arch_contact_us_duplicate .button {
    margin-top: 0px;
    margin-right: 0px;
    margin-bottom: 40px;
    margin-left: 0px;
    height: 50px;
  }

  .arch_contact_us_duplicate .form-wrapper {
    margin-top: 0px;
    margin-right: 0px;
    margin-bottom: 40px;
    margin-left: 0px;
  }

  .arch_contact_us_duplicate .icon-block {
    width: 25px;
    height: 25px;
  }
}
.gallerybox .contennt {
  position: absolute;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.556);
  bottom: -500px;
  z-index: 100;
  transition: all 1.2s linear;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: center;
  align-content: center;
  justify-content: center;
  text-align: center;
  color: white;
}
.gallerybox:hover .contennt {
  position: absolute;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.688);
  bottom: 0px;
  z-index: 100;
  color: white;
}
.gallery {
  display: flex;
  gap: 100px;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  align-content: center;
  /* gap: 20px; */
}
.packageBox {
  border-radius: 20px;
  width: 400px;
  text-align: center;  
  padding: 20px;
  background: #fff;
  transition: all 1.2s cubic-bezier(0.165, 0.84, 0.44, 1);
}
.packageBox img {
  border-radius: 20px !important;

  width: 400px;
  height: 500px;
  object-fit: contain;
  transition: all 1.2s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}
.packageBox img:hover {
  width: 400px;
  height: 500px;
  object-fit: contain;
  transform: scale(1.1);
}
.packageBox:hover {
  transform: scale(0.9);
}
.packageBox .contenntt {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  align-items: center;
  align-content: center;
  justify-content: center;
  /* color: #fff; */
}
.packageBox .contenntt p {
  text-align: left;
}
.pack {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 20px;
}
.contennt h1 {
  font-size: 100px;
}
.navbar .btn{
  display: none;
}
.aboutbox{
  padding: 1% 10%;
  display: flex;
  font-family: 'Baloo Tamma 2', cursive;
  gap: 20px;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  align-content: center;
  color: #f0f8ff;
  flex-direction: row;
}
.divboxblue{
  height: 300px;
  width: 300px;
  background-color: #3a6ac3;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-content: center;
  padding: 20px;
  text-align: center;
  border-radius: 20px;
  align-items: center;
  justify-content: center;
}
.icontravel{
  font-size: 100px;
}

.greecebox1{
  display: flex;
  
  flex-direction: column;
  flex-wrap: wrap;
  align-content: center;
  justify-content: center;
  align-items: flex-start;

}
