@import url('https://fonts.googleapis.com/css2?family=Baloo+Tamma+2:wght@800&display=swap');
*{
  font-family: 'Baloo Tamma 2', cursive;
}
.navbar{
  display: flex;
  display: flex;
  flex-wrap: wrap;
  align-content: center;
  justify-content: space-around;
  align-items: center;
  background-color: #f0f8ff;
}
.tabs{
  display: flex;
  gap: 10px;

}
body{
  background: #f0f8ff;
}
*{
  font-family: 'Open Sans',sans-serif;
  overflow-x: hidden;
  overflow-wrap: break-word;
}
a{
  text-decoration: none;
  text-transform: capitalize;
  color: black;
  font-size: 120%;
}
.home{
  background: url('https://images03.nicepagecdn.com/c461c07a441a5d220e8feb1a/e96a86713cfa5e13801cddb3/-min.jpg');
  background-size: cover;
  background-position: center;
  height: 650px;
}
.home .texthome{
  display: flex;
  flex-direction: column;
  align-content: flex-start;
  align-items: flex-start;
  justify-content: center;
  padding: 10% 15%;
}
.home .texthome h2{
  text-transform: uppercase;
  font-weight: 300;
  letter-spacing: 4px;
  font-size: 1.25rem;
  margin: 0;
}
.home .texthome h1{
  text-transform: uppercase;
  font-weight: 900;
  letter-spacing: 3px;
  font-size:3.025rem;
  margin: 50px 0px;
  width: 600px;
  color: #3a6ac3;
}
.home .texthome h1 span{
  font-size:1.25rem;
}
.navbar img{
  display: none;
}
.btn{
  width: 120px;
  border-radius: 200px;
  background: #3a6ac3;

  height: 50px;
  border: none;
  text-transform: uppercase;
  font-weight: 700;
  color: #f0f8ff;
}
.btn:hover{
  width: 120px;
  border-radius: 200px;
  background: #f0f8ff;

  height: 50px;
  border: 2px solid #3a6ac3;
  text-transform: uppercase;
  font-weight: 700;
  color: #3a6ac3;
  transition: 150ms cubic-bezier(0.68, -0.55, 0.265, 1.55) all;
}
@media screen and (max-width: 700px) {
  .home .texthome{
    display: flex;
    align-content: flex-start;
    align-items: flex-start;
    justify-content: flex-start;
    padding: 10% 15%;
    flex-direction: column;
    flex-wrap: wrap;
    width: fit-content;
  }
  .home .texthome h1{
    text-transform: uppercase;
    font-weight: 900;
    letter-spacing: 3px;
    font-size:3.025rem;
    margin: 50px 0px;
    width: 300px;
    color: #3a6ac3;
  }
  .home .texthome h1 span{
    font-size:0.55rem;
  }
  .home{
        background-position: 67.93% 50%;
        height: auto;
  }

  .navbar{
    display: flex;
    flex-wrap: wrap;
    align-content: center;
    justify-content: space-between;
    align-items: center;
    background-color: #f0f8ff;
    flex-direction: column;
  }
  .greecebox1{
    max-width: 200px !important;
    text-align: center;
  }
  .center{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    align-content: center;
  }
}
.aboutbox{
  padding: 1% 10%;
  display: flex;
  font-family: 'Baloo Tamma 2', cursive;
  gap: 20px;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  align-content: center;
  flex-direction: row;
}
.divboxblue{
  height: 300px;
  width: 300px;
  background-color: #3a6ac3;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-content: center;
  padding: 20px;
  text-align: center;
  border-radius: 20px;
  align-items: center;
  justify-content: center;
}
.icontravel{
  font-size: 100px;
}

.greecebox1{
  display: flex;
  
  flex-direction: column;
  flex-wrap: wrap;
  align-content: center;
  justify-content: center;
  align-items: flex-start;

}
